<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.dao.ClassTableDao">
    <!-- 结果集 -->
    <resultMap type="project.entity.ClassTable" id="ClassTableMap">
        <result property="classId" column="class_id" />
        <result property="className" column="class_name" />
        <result property="createTime" column="create_time" />
        <result property="back01" column="back01" />
        <result property="back02" column="back02" />
        <result property="back03" column="back03" />
        <result property="back04" column="back04" />
        <result property="back05" column="back05" />
    </resultMap>
    
    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        class_id, class_name, create_time, back01, back02, back03, back04, back05    </sql>
    
   
</mapper>
