<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.dao.HistoryTableDao">
    <!-- 结果集 -->
    <resultMap type="project.entity.HistoryTable" id="HistoryTableMap">
        <result property="id" column="id" />
        <result property="stuId" column="stu_id" />
        <result property="oldClassId" column="old_class_id" />
        <result property="newClassId" column="new_class_id" />
        <result property="state" column="state" />
        <result property="changeTime" column="change_time" />
        <result property="agreeTime" column="agree_time" />
        <result property="back01" column="back01" />
        <result property="back02" column="back02" />
        <result property="back03" column="back03" />
        <result property="back04" column="back04" />
        <result property="back05" column="back05" />
    </resultMap>
    
    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        id, stu_id, old_class_id, new_class_id, state, change_time, agree_time, back01, back02, back03, back04, back05    </sql>
    
   
</mapper>
