<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.StuDetailsDao">
    <!-- 结果集 -->
    <resultMap type="com.project.entity.StuDetails" id="StuDetailsMap">
        <result property="id" column="id" />
        <result property="uid" column="uid" />
        <result property="sex" column="sex" />
        <result property="age" column="age" />
        <result property="province" column="province" />
        <result property="city" column="city" />
        <result property="district" column="district" />
        <result property="address" column="address" />
        <result property="tel" column="tel" />
        <result property="courseId" column="course_id" />
        <result property="commitTime" column="commit_time" />
        <result property="back01" column="back01" />
        <result property="back02" column="back02" />
        <result property="back03" column="back03" />
        <result property="back04" column="back04" />
        <result property="back05" column="back05" />
    </resultMap>
    
    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        id, uid, sex, age, province, city, district, address, tel, course_id, commit_time, back01, back02, back03, back04, back05    </sql>
    
   
</mapper>
