<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.UpdateClazzHistoryDao">
    <!-- 结果集 -->
    <resultMap type="com.project.entity.UpdateClazzHistory" id="UpdateClazzHistoryMap">
        <result property="id" column="id" />
        <result property="stuId" column="stu_id" />
        <result property="clazzIdOld" column="clazz_id_old" />
        <result property="clazzIdNew" column="clazz_id_new" />
        <result property="status" column="status" />
        <result property="updateTime" column="update_time" />
        <result property="commitUpdate" column="commit_update" />
        <result property="back01" column="back01" />
        <result property="back02" column="back02" />
        <result property="back03" column="back03" />
        <result property="back04" column="back04" />
        <result property="back05" column="back05" />
    </resultMap>
    
    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        id, stu_id, clazz_id_old, clazz_id_new, status, update_time, commit_update, back01, back02, back03, back04, back05    </sql>
    
   
</mapper>
