<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.WorkMapper">
    <resultMap id="workMap" type="com.example.entity.Work">
        <id column="id" property="id"/>
        <collection property="studentdetails" column="ctid" select="" ofType=""/>
        <collection property="teachers" column="ctid" select="" ofType=""/>
    </resultMap>

    <insert id="addWork" useGeneratedKeys="true" keyProperty="id">

        insert into
            work (work_name, sd_name, stu_id, teacher_Name, warn, type, details,time,states,t_id)
        values
            (#{workName}, #{sdName}, #{stuId}, #{teacherName}, #{warn}, #{type},
             #{details},#{time},#{states},#{tId})

    </insert>

    <select id="findByWorkAll" resultType="com.example.entity.WorkVO">

/*        select w.id,w.time,w.work_name,st.sd_name ,st.sd_id,t.teacher_name
             ,w.warn  ,w.states,w.type from work w , student s ,
            studentdetails st , teacher t  where w.stu_id = s.stu_id and w.stu_id = st.stu_id and s.stu_id = st.stu_id
             and s.tid = t.teacher_id order by w.time desc;*/

        select w.id,w.time,w.work_name,w.sd_name,w.details ,st.sd_id,w.teacher_name
             ,w.warn  ,w.states,w.type from work w , student s ,
           studentdetails st , teacher t  where w.stu_id = s.stu_id and w.stu_id = st.stu_id and s.stu_id = st.stu_id
          and s.tid = t.teacher_id order by w.time desc;
    </select>


    <update id="updateByIdWord">

        update work set states=#{states}
        where id =#{id}

    </update>

    <update id="updateByIdWord2">

        update work set states=#{states}
        where id =#{id}

    </update>

    <select id="findByNameWork" resultType="com.example.entity.Studentdetails">

            select * from studentdetails where sd_name=#{sdName}

    </select>

    <select id="findByNameTeacher" resultType="com.example.entity.Teacher">

        select * from teacher where teacher_name=#{teacherName}

    </select>

    <!--    select *
        from shop
        where tid = 1
        and sname like concat('%', #{sname}, '%')-->


    <select id="findStudentNameWork" resultType="com.example.entity.Work">

        select * from work where sd_name like concat('%', #{sdName}, '%')

    </select>

    <select id="findTeacherNameWork" resultType="com.example.entity.Work">

        select * from work where teacher_name like concat('%', #{teacherName}, '%')

    </select>
</mapper>