<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.WorkMapper">

    <insert id="addWork" useGeneratedKeys="true" keyProperty="id">

        insert into
            work (work_name, student_name, student_id, teacher_Name, warn, type, details,time,states)
        values
            (#{workName}, #{studentName}, #{studentId}, #{teacherName}, #{warn}, #{type},
             #{details},#{time},#{states})

    </insert>

    <select id="queryWork" resultType="com.example.entity.Work">

        select * from work order by time desc

    </select>


    <update id="updateByIdWord">

        update work set states=#{states}
        where student_id =#{studentId}

    </update>

    <update id="updateByIdWord2">

        update work set states=#{states}
        where student_id =#{studentId}

    </update>

</mapper>